#FamilyFoundSection.rounded-section.openable
  .section-wrap
    h4.gadget-title FamilyFound
    .open-close-control
      a(href='https://familyfound.herokuapp.com', target='_blank') View Dashboard
    #FamilyFound.gadget.familyFound(ng-controller='FamilyFoundCtrl')
      div(data-breadcrumb="history", data-config="bcConfig")
      .left-side
        .status(data-toggle="buttons-radio")
          .select-status
          span.status-help.icon-question-sign
        div(data-new-todo="todos", data-person-id='personId')
        div(data-todo-list="todos")
      .fan-chart
        div(data-fan="rootPerson", data-config='fanConfig')
