#FamilyFoundSection.rounded-section.openable
  .section-wrap
    h4.gadget-title FamilyFound
    .open-close-control
      a.open-close-button(href='https://familyfound.herokuapp.com', target='_blank') View Dashboard
    #FamilyFound.gadget.familyFound(ng-controller='FamilyFoundCtrl')
      .left-side
        .status.btn-group(data-toggle="buttons-radio")
          .status-indicator(class='person {{rootPerson.status}}')
          label
            input(type="radio", value="inactive", ng-model="rootPerson.status")
            span Inactive
          label
            input(type="radio", value="active", ng-model="rootPerson.status")
            span Active
          label
            input(type="radio", value="clean", ng-model="rootPerson.status")
            span Clean
          label
            input(type="radio", value="complete", ng-model="rootPerson.status")
            span Complete
        div(data-new-todo="todos", data-person-id='personId')
        div(data-todo-list="todos")
      .fan-chart
        div(data-fan="rootPerson", data-config='fanConfig')
