
.breadcrumb-container {
  position: absolute;
  top: -30px;
  left: 145px;
  width: 535px;
  height: 45px;
}

.breadcrumb-container .breadcrumb-help {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}

.breadcrumb-container .breadcrumb {
  padding: 0;
  background-color: transparent;
}

.breadcrumb-container ul {
  padding: 0;
  margin: 0;
}

.breadcrumb-container li {
  list-style: none;
  display: inline;
}

.help-tip .tip-inner {
  text-align: left;
  font-size: 14px;
  background-color: white;
  color: #333;
  border: 2px solid black;
}

.help-tip .tip-arrow,
.status-popover .tip-arrow {
  display: none;
}

.status-popover .tip-inner {
  margin-top: -5px;
  border-color: #ccc;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.status-popover .item:hover {
  background-color: #ddd;
}

.status-popover .item {
  text-align: left;
}

.status-popover .circle,
#FamilyFound .select-status .circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: -3px;
}

#FamilyFoundSection h4.gadget-title {
  margin-bottom: 10px;
}

#FamilyFound .select-status {
  display: inline-block;
  height: 25px;
  cursor: pointer;
  padding: 5px 8px 0 5px;
  border-radius: 5px;
  margin-right: 5px;
}

#FamilyFound .select-status::after {
  content: "\25BC";
  font-size: 8px;
  left: 0px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 6px;
}

#FamilyFound .select-status:hover {
  background-color: #ddd;
}

#FamilyFoundSection {
  position: relative;
}

#FamilyFoundSection #FamilyFound {
  position: relative;
  min-height: 190px;
}

#FamilyFoundSection .left-side {
  width: 550px;
}

#FamilyFoundSection .new-todo {
  margin-top: 5px;
}

#FamilyFoundSection .left-side input.new-todo {
  width: 285px;
}

#FamilyFoundSection .fan-chart {
  position: absolute;
  top: 20px;
  right: 5px;
}

#FamilyFoundSection .fan-chart .arc.person {
  cursor: pointer;
}

#tree-style #FamilyFoundSection a.open-close-button {
  color: #0051c4;
}

#FamilyFoundSection .status label {
  padding: 10px 5px;
}

#FamilyFoundSection svg .radial {
  stroke-width: 2px;
  stroke: #aaa;
}

#FamilyFoundSection label {
  display: inline-block;
}

#FamilyFoundSection button.delete {
  border: none;
  background-color: transparent;
  padding: 11px;
  line-height: 0px;
  display: inline-block;
}

#FamilyFoundSection .status .status-indicator {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 10px;
  margin-bottom: -7px;
  margin-right: 10px;
}

#FamilyFoundSection .status label input {
  margin-top: -4px;
}

#FamilyFoundSection .status label span {
  margin-left: 6px;
}
